@charset "UTF-8";
@font-face {
  font-family: "Kage Thin";
  src: url(../font/FontsFree-Net-Kage-Thin.ttf); }

@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Poppins";
  background-color: #b9d8cb;
  color: #bf935e; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.subrayado {
  text-decoration: none; }

header {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 10rem;
  position: sticky;
  top: 0;
  z-index: 10; }

.contentNavbar {
  display: flex;
  align-items: center; }
  .contentNavbar li {
    margin: 0 15px;
    transition: transform 0.3s; }
    .contentNavbar li:active {
      transform: scale(0.9); }
    .contentNavbar li a {
      color: black;
      font-weight: bold;
      transition: color 0.3s; }
      .contentNavbar li a:hover {
        color: #bf8339;
        font-weight: bold; }

.navegacionHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90vw; }
  .navegacionHeader ul {
    display: flex;
    width: 50%;
    justify-content: space-around; }
    .navegacionHeader ul li a {
      color: #bf935e;
      font-weight: bold;
      border-bottom: solid 1px; }

.tamañoLogoHeader {
  width: 100px;
  height: 100px; }

.ropa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 100px;
  padding: 40px;
  background-color: #dcdcdc;
  margin-top: 40px; }
  .ropa img {
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s; }
    .ropa img:hover {
      transform: scale(1.2); }
  .ropaInicio {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 25px;
    color: #60a685;
    margin-top: 50px;
    align-items: center; }
    .ropaInicioPlus {
      justify-content: center;
      background-color: linear-gradient(60deg, #b9d8cb, #e2e8f0); }

.cajitaProductos {
  transition: transform 0.3s; }
  .cajitaProductos:hover {
    transform: translateY(-15px); }
  .cajitaProductos a img {
    border: #bf935e solid 2px; }

.pagoEfectivo {
  background-image: linear-gradient(45deg, #bfbfbf, #bf935e);
  color: #e2e8f0; }
  .pagoEfectivoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center; }
    .pagoEfectivoGridContenido h2 {
      color: #fff;
      font-size: 50px;
      margin-bottom: 20px; }
    .pagoEfectivoGridContenido p {
      margin-bottom: 40px; }
    .pagoEfectivoGridContenido a {
      background-color: #bf8339;
      color: #e2e8f0;
      padding: 15px;
      border-radius: 10px;
      font-weight: bold;
      transition: background-color 0.3s; }
      .pagoEfectivoGridContenido a:hover {
        background-color: #bf935e; }

.pagoEfectivoImg {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s; }
  .pagoEfectivoImg:hover {
    transform: rotate(5deg); }

.tituloPaginaContacto {
  font-size: 4rem;
  font-weight: 900;
  height: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background-image: url(../img/blob.svg);
  background-repeat: no-repeat;
  margin-bottom: -50px; }

.botonForm {
  font-family: "Poppins";
  background-color: #bf8339;
  color: #e2e8f0;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: #b9d8cb 2px solid;
  border-radius: 8px;
  margin: 10px auto; }
  .botonForm:hover {
    background-color: #bd9b71; }

.redesSociales {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  color: #bf8339;
  font-family: "Kage Thin"; }

.link-ig {
  padding: 10px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  background-color: #c92d8f;
  margin-bottom: 20px;
  transition: all 0.3s; }
  .link-ig:hover {
    color: white;
    background-color: transparent; }

.link-whatsapp {
  padding: 10px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  background-color: #52D95B;
  margin-bottom: 20px;
  transition: all 0.3s; }
  .link-whatsapp:hover {
    color: white;
    background-color: transparent; }

.link-email {
  padding: 10px;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  background-color: #F23838;
  margin-bottom: 20px;
  transition: all 0.3s; }
  .link-email:hover {
    color: white;
    background-color: transparent; }

.tituloPaginaPoliticas {
  font-size: 4rem;
  font-weight: 900;
  height: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background-image: url(../img/blob.svg);
  background-repeat: no-repeat;
  margin-bottom: -50px; }

.politicasDeCambio {
  font-size: 15px;
  font-weight: bold;
  text-align: center; }
  .politicasDeCambio h2 {
    margin-top: 30px; }
  .politicasDeCambio h3, .politicasDeCambio h4, .politicasDeCambio p, .politicasDeCambio ul, .politicasDeCambio li {
    margin-top: 20px; }

.politicasAclaracion {
  margin-bottom: 30px; }

.tituloPaginaProductos {
  font-size: 4rem;
  font-weight: 900;
  height: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background-image: url(../img/blob.svg);
  background-repeat: no-repeat;
  margin-bottom: -50px; }

.tarjeta {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; }
  .tarjetaHeader {
    position: relative; }
    .tarjetaHeader img {
      width: 100%;
      border-radius: 10px; }

.productos {
  margin-top: 40px; }
  .productosGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; }

.btn-flecha {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: 30px;
  bottom: 150px;
  background: #bf8339;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 0.3s; }
  .btn-flecha:hover {
    text-decoration: none;
    color: #bf935e;
    background-color: #fff; }

.footer {
  background-color: #d5b690;
  color: #bf8339; }
  .footerGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; }
    .footerGrid h3 {
      color: #bf8339; }
    .footerGrid p {
      color: #bf935e;
      font-style: italic; }

.footerRrss {
  margin-top: 30px; }
  .footerRrss a {
    color: black;
    font-size: 30px;
    transition: color 0.3s; }
    .footerRrss a:hover {
      color: #bf8339; }

.footerBase, .footerGrid h3, .footerGrid p {
  margin-bottom: 20px;
  font-weight: bold;
  justify-content: center; }

@media (max-width: 1032px) {
  .productosInicioPlus {
    grid-template-columns: 1fr; } }

@media (max-width: 1000px) {
  .footerGrid {
    grid-template-columns: 1fr; } }

@media (max-width: 829px) {
  .tituloPaginaContacto {
    margin-bottom: 10px;
    font-size: 3rem; } }

@media (max-width: 768px) {
  header {
    height: 16rem;
    position: static; }
  .productosGrid {
    grid-template-columns: 1fr; }
  .tituloPaginaPoliticas {
    font-weight: 600; }
  .politicasDeCambio h2 {
    margin-top: 40px; }
  .tituloPaginaContacto {
    font-size: 50px;
    height: 100px; }
  .ropa {
    grid-template-columns: 1fr; } }

@media (max-width: 468px) {
  .tituloPaginaPoliticas {
    font-size: 50px; } }

@media (max-width: 400px) {
  .tituloPaginaProductos {
    font-size: 50px;
    font-weight: 600; }
  .tituloPaginaContacto {
    margin-bottom: 10px; }
  .productos {
    font-size: 40px; } }

@media (max-width: 345px) {
  .tituloPaginaContacto {
    font-size: 40px; }
    .tituloPaginaContacto .ropa {
      padding: 5px; }
      .tituloPaginaContacto .ropah1 {
        font-size: 5px;
        margin: 5px; } }
