.tituloPaginaContacto {
  @include tituloBase;
  }
    
  .botonForm {
    font-family: "Poppins";
    background-color: $colorPrincipal;
    color: #e2e8f0;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border: #b9d8cb 2px solid;
    border-radius: 8px;
    margin: 10px auto;

    &:hover {
      background-color: #bd9b71;
    }
  }
  
 