.ropa {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 100px;
  padding: 40px;
  background-color: #dcdcdc;
  margin-top: 40px;
  
  & img {
      width:100%;
      max-width:600px;
      transition: transform 0.3s;
    
    &:hover {
      transform: scale(1.2);
    }
  }
  
  &Inicio {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 25px;
    color: #60a685;
    margin-top: 50px;
    align-items: center;

  &Plus {
    justify-content: center;
    background-color: linear-gradient(60deg, #b9d8cb, #e2e8f0);
  }
}
}

.cajitaProductos {
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-15px);
  }

  & a img {
    border: #bf935e solid 2px;
  }
}




.pagoEfectivo {
  background-image: linear-gradient(45deg, #bfbfbf, #bf935e);
  color: #e2e8f0;

  &Grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;

    &Contenido h2 {
      color: #fff;
      font-size: 50px;
      margin-bottom: 20px;
    }

    &Contenido p {
      margin-bottom: 40px;
    }

    &Contenido a {
      background-color: $colorPrincipal;
      color: #e2e8f0;
      padding: 15px;
      border-radius: 10px;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: #bf935e;
      }
    }
  }
}

.pagoEfectivoImg {
  width:100%;
  max-width:600px;
  border-radius: 10px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.8);
  transition: transform 0.3s;

  &:hover {
    transform: rotate(5deg);
  }
}

@mixin tituloBase {
  font-size: 4rem;
  font-weight: 900;
  height: 10rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background-image: url(../img/blob.svg);
  background-repeat: no-repeat;
  margin-bottom: -50px;
}