.tituloPaginaPoliticas {
  @include tituloBase;
  }
  
  .politicasDeCambio {
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    & h2 {
      margin-top: 30px;
    }
    
    & h3, p, ul, li {
      margin-top: 20px;
    }
  }
  
  .politicasAclaracion {
    margin-bottom: 30px;
  }