.tituloPaginaProductos {
  @include tituloBase;
  }
  

  .tarjeta {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

    &Header {
      position: relative;

      & img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  
  .productos {
    margin-top: 40px;

    &Grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  }
  
