.tituloPaginaProductos {
  @include tituloBase;
  }
  

  .tarjeta {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;

    &Header {
      position: relative;

      & img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
  
  .productos {
    margin-top: 40px;

    &Grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  }

  .btn-flecha {
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    right: 30px;
    bottom: 150px;
    background: $colorPrincipal;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3) ;
    z-index:100;
    transition: 0.3s;

    &:hover {
      text-decoration: none;
      color: $colorSecundario;
      background-color: #fff;
    }
  }
  
